doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Document

        style(type="text/css")
            include ./mail.css
    body 
        h2 Reset Password
        p Hi, you've requested to change the password. Click in the next link to set your new password:
        
        a(href=`${url}`) Click Here

        p If you can't access to this link, copy and paste:
        br
        strong #{url}

        p This link expires in 10 minutes.
        p if you don't requested a password recovering,
            strong ignore this
            p .