extends ../head_body

include ../mixins/editOrCreateForm

block content
    .contenido-principal
        h1 #{pageTitle}

        if error
            .error.alerta
                p=error
        +createOrEditProject(project)
        