doctype html
html(lang="en")
    head
        include ../../partials/head
    body.login
        .contenedor-formulario
            h1 New Password

            if info.length
                .correcto.alerta
                    p=info
            if error.length
                .error.alerta
                    p=error

            if resetFailed || successful
                a(href="/auth/login").info #{info.length ? 'You can login now' : 'Back to login'}

            if !resetFailed && !successful
                form#formulario.caja.caja-login(method="POST" action="/auth/new-password")
                    .campo
                        label(for="password") New Password:
                        input(type="password" name="password" placeholder="Your new password")
                    .campo.enviar
                        input.boton(type="submit" value="Set new password")
                    .campo 
                        a(href="/auth/login") Back to Login
                    .campo
                        a(href="/auth/signup") Create an Account